body{
	margin-top: 30px;
}


.jumbotron img {
	width: 200px;  
	border: 5px solid #666;
}
hr {
	width: 250px;
	border-top: 3px solid #999;
}
section{
	min-height: 200px;
}
.portfolio{
	background-color: #eee;
}

.navbar{
	opacity: .3;
}